@page "/bibigallery"
@using SilverBotDS.Objects
@using System.IO
@using System.Text.Json
@inject Config config
@inject NavigationManager nvgmng
@{
    if (!config.EmulateBubotBibi)
    {
        nvgmng.NavigateTo("/404");
    }
}

@code{

    string[] BibiDescText
    {
        get
        {
            if (!config.EmulateBubotBibi)
            {
                return Array.Empty<string>();
            }
            using StreamReader e = new(config.BibiLibCutOutConfig);
            return JsonSerializer.Deserialize<string[]>(e.ReadToEnd());
        }
    }

}

<h1>Bibi pictures</h1>
<p>By: <code>jaydenkamp#5087</code></p>
<p>Collected and cut out by: <code>Wbubbler#7474</code></p>
<style>
    .column {
        float: left;
        width: 25%;
        padding-left: 20px;
    }

        .column img {
            opacity: 0.8;
            cursor: pointer;
            width: 50%;
        }

            .column img:hover {
                opacity: 1;
            }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .container {
        position: relative;
        display: none;
    }

    #imgtext {
        position: absolute;
        bottom: 15px;
        left: 15px;
        color: white;
        font-size: 20px;
    }

    .closebtn {
        position: absolute;
        top: 10px;
        right: 15px;
        color: white;
        font-size: 35px;
        cursor: pointer;
    }
</style>
<div class="row">
    @for (var a = 1; a < BibiDescText.Length; a++)
    {
        var url = string.Format(config.BibiLibCutOut, a);
        <div class="column">
            <img src="@url" alt="@BibiDescText[a - 1]" onclick="galleryThing(this);">
        </div>
    }
</div>

<div class="container">
    <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
    <img id="expandedImg" style="width:100%">
    <div id="imgtext"></div>
</div>