@page
@model SilverBotDS.Pages.ErrorModel

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Error</title>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/css/app.css" rel="stylesheet"/>
</head>

<body>
<div class="main">
    <div class="content px-4">
        <h1 class="text-danger">just monika</h1>
        <img style="width: 100%;" src="https://cdn.discordapp.com/attachments/773606229926084639/911334274844721222/unknown.png"/>
        @if (Model.ShowRequestId)
        {
            <p>
                <code>@Model.RequestId</code>
            </p>
        }
    </div>
</div>
</body>
</html>