@page "/languageeditor"
@using SilverBotDS.WebHelpers
@using SilverBotDS.Objects
@using Microsoft.AspNetCore.Http
@using DSharpPlus
@inject Config config
@inject IHttpContextAccessor HttpContextAccessor
@inject DiscordClient Discord
@inject IJSRuntime jsRuntime
@inject NavigationManager uriHelper
@inject DatabaseContext dbctx
@inject HttpClient client
@{
    if (string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetObjectFromJson<string>
        ("accessToken")))
    {
        uriHelper.NavigateTo("/login", true);
    }
    var thing = HttpContextAccessor.HttpContext.Session.GetUserInfoFromSession(client);
    var translator = dbctx.translatorSettings.FirstOrDefault(x => x.Id == thing.UId);
    if (translator == null)
    {
        uriHelper.NavigateTo("/", true);
    }

    var languages = translator.CustomLanguages.ToList();
    var a = 0;
}
<h1>The custom languages you can edit:</h1>
<div>
    <div class="card-body">
        <div class="row justify-content-center">
            @foreach (var language in languages)
            {
                <div class="row">
                    <div class="m-2 center col">
                        <a href="/managelanguage/@a">

                            <p class="text-center">@language.LangName</p>
                        </a>
                    </div>
                </div>
                a++;
            }
        </div>
    </div>
</div>