@page "/listguilds"
@using System.Net
@using System.Text
@using System.IO
@using Microsoft.AspNetCore.Http
@using SilverBotDS.Objects
@using DSharpPlus
@using System.Diagnostics
@using SilverBotDS.WebHelpers
@using SilverBotDS
@using Microsoft.JSInterop
@inject Config config
@inject IHttpContextAccessor HttpContextAccessor
@inject DiscordClient Discord
@inject IJSRuntime jsRuntime
@inject NavigationManager uriHelper
@{
    if (string.IsNullOrEmpty(SessionHelper.GetObjectFromJson<string>(HttpContextAccessor.HttpContext.Session, "accessToken")))
    {
        uriHelper.NavigateTo("/login", forceLoad: true);
    }
    var thing = SessionHelper.GetUserInfoFromSession(HttpContextAccessor.HttpContext.Session);
    var servers = from server in SessionHelper.GetGuildsFromSession(HttpContextAccessor.HttpContext.Session) where Discord.Guilds.ContainsKey(server.UId) && ((Discord.Guilds[server.UId].GetMemberAsync(thing.UId).GetAwaiter().GetResult()).Roles.Any(e => e.CheckPermission(Permissions.ManageGuild) == PermissionLevel.Allowed) || server.Owner) select server;
}
<h1>The servers you can manage:</h1>
<div>
    <div class="card-body">
        <div class="row justify-content-center">
            @foreach (var server in servers)
            {
                <div class="row">
                    <div class="m-2 center col">
                        <a href="/manageserver/@server.Id">
                            @if (string.IsNullOrEmpty(server.Icon))
                            {
                                string[] split_name = server.Name.Split(' ');
                                StringBuilder sb = new StringBuilder();
                                foreach (string s in split_name)
                                {
                                    sb.Append(s[0]);
                                }
                                <div style="text-align:center; width: 100px; height: 100px; border: 1px solid #000; background-color: #000; display: flex; justify-content: center; align-items: center;">
                                    <p style="color:white; font-size: 30px; font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;">@sb.ToString()</p>
                                </div>
                            }
                            else
                            {
                                <img height="100" width="100" src="https://cdn.discordapp.com/icons/@server.Id/@(server.Icon).png" alt="@server.Name's image">
                            }
                            <p class="text-center">@server.Name</p>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>       