@page "/privacy-policy"
<h1 id="what-information-do-you-store-">What information do you store?</h1>
<p>First and foremost we would like to state that SilverBot is open-source and if you do not believe us you can go and look for yourself.<br>From user information we store user ID&#39;s along with their language name that they may set using the <code>setlang</code> command in private messages with the bot, we also store a kind of total message count from the user but <strong>not</strong> the message content itself.<br>From guild information we store:</p>
<ul>
<li>The server Id</li>
<li>The Language name set by the <code>setlang</code> command</li>
<li>If the guild is opted in to emotes.</li>
<li>The category Id for statistics</li>
<li>The statistics string templates</li>
<li>And if the guild is opted into the silly repeat functions (which can be toggled using the <code>togglerepeat</code> command)<br>Basically this
<img src="https://user-images.githubusercontent.com/46320280/121704141-c495e480-cad3-11eb-9db4-c7ccdae8fdbf.png" alt="image">
<img src="https://user-images.githubusercontent.com/46320280/121704172-cb245c00-cad3-11eb-8796-4185fd3a725c.png" alt="image">
</li></ul>
<h1 id="what-information-do-you-collect-">What information do you collect?</h1>
Basically: <ul>
<li>Server count of the bot</li>
<li>Count of the members in all servers</li>
<li>And other stuff that isn&#39;t worth mentioning here.</li>
</ul>
<h1 id="what-information-do-you-share-">What information do you share?</h1>
Only the aforementioned server count of the bot and count of members in all servers combined, this info can be seen publicly on the silverbot dashboard which can be found at <a href="https://silverbot.cf/">https://silverbot.cf/</a> for now.  <h1 id="how-can-i-request-for-any-data-to-be-deleted-">How can i request for any data to be deleted?</h1>
You can request any data to be deleted by direct messaging <code>SilverDiamond#1691</code> on discord.<br>Last updated on 11 June 2021.

