@using Microsoft.AspNetCore.Http
@using SilverBotDS.WebHelpers
@using DSharpPlus
@using DSharpPlus.Entities
@inject IHttpContextAccessor HttpContextAccessor
@inject DiscordClient Discord
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Silverbot</a>
    <ul class="navbar-nav">
        @if (string.IsNullOrEmpty(SessionHelper.GetObjectFromJson<string>(HttpContextAccessor.HttpContext.Session, "accessToken")))
        {
            <li class="nav-item">
                <a class="nav-link" href="\login">Log in</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                @{
                    DiscordUser user = Discord.GetUserAsync(SessionHelper.GetUserInfoFromSession(HttpContextAccessor.HttpContext.Session).UId).GetAwaiter().GetResult();
                }
                <a class="nav-link" href="">Hello @user.Username#@user.Discriminator</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/listguilds">Servers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/musiccontrols">Music controller</a>
            </li>
        }
    </ul>
</nav>