@page "/userpreferences"
@using SilverBotDS.WebHelpers
@using SilverBotDS.Objects
@using Microsoft.AspNetCore.Http
@using DSharpPlus
@attribute [Authorize]

@inject Config _config
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject DiscordClient _discord
@inject DatabaseContext _dbctx
@inject IJSRuntime _jsRuntime
@inject NavigationManager _uriHelper
@inject LanguageService _LanguageService
@inject HttpClient _client
@{
    var auser = AuthenticationStateProvider.AuthState();
    var uid = auser.User.PUID();

    var userpref = _dbctx.userSettings.FirstOrDefault(x => x.Id == uid);
    if (userpref == null)
    {
        userpref = new UserSettings { Id = uid, IsBanned = false, LangName = "en", UsesNewMusicPage = false };
        _dbctx.userSettings.Add(userpref);
        _dbctx.SaveChanges();
    }
}
@if (!_dbctx.IsBanned(uid))
{
    <p>Welcome to the beta version of the user preferences edit page</p>


    <RadzenSwitch @bind-Value=@userpref.UsesNewMusicPage Name="Switch1" Style="margin-bottom: 20px"/>
    <RadzenLabel Text="Use the new Music Controller page" Component="Switch1" Style="margin-left: 5px;"/>
    <br/>
    <RadzenDropDown AllowClear="false" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Data=@_LanguageService.GetLoadedLanguages() @bind-Value=@userpref.LangName
                    TextProperty="Value.LangName" ValueProperty="Key" Style="width:300px"/>
    <RadzenLabel Text="Your personal language (used for direct messages and stuff)" Component="Switch2" Style="margin-left: 5px;"/>

    <br/>
    <RadzenButton Click=@(args => { _dbctx.userSettings.Update(userpref); _dbctx.SaveChanges(); }) Text="Save" Style="margin-bottom: 20px; width: 150px"/>
}
else
{
    <h1>Oh no an error has occured, please contact the person that owns this instance of Silverbot.</h1>
}