@page "/privacy-policy"
@using SilverBot.Shared.Objects
@inject Config _config
<h1 id="what-information-is-stored-on-commands">
    What information is stored on command execution?
</h1>
<p>
    Statistics for how many times a command was executed is availiable publically.
</p>
<h1 id="what-information-do-you-store-">What information do you store?</h1>
<p><br>From user information we store user ID&#39;s along with their language name that they may set using the <code>setlang</code> command in private messages with the bot or on the dashboard, we also store a kind of total message count from the user but <strong>not</strong> the message content itself.<br>From guild information we store:</p>
<ul>
    <li>The server Id</li>
    <li>The Language name set by the <code>setlang</code> command</li>
    <li>If the guild is opted in to emotes.</li>
    <li>The category Id for statistics</li>
    <li>The statistics string templates</li>
    @if (_config.ReactionRolesEnabled)
    {
        <li>Reaction-Role message id's along with emoji and their id</li>
    }
    <li>
        And if the guild is opted into the silly repeat functions (which can be toggled using the <code>togglerepeat</code> command)<br>Basically this
        <img src="https://user-images.githubusercontent.com/46320280/121704141-c495e480-cad3-11eb-9db4-c7ccdae8fdbf.png" alt="image">
    </li>
</ul>
<h1 id="what-information-do-you-collect-">What information do you collect?</h1>
Basically:
<ul>
    <li>Server count of the bot</li>
    <li>Count of the members in all servers</li>
    <li>When an error is detected in a command the commands message id, the channels id, the message content and any related data to that command is logged by sending it through a discord webhook</li>
    <li>And anything else that the discord api gives us and the code uses.</li>
</ul>
<h1 id="what-information-do-you-share-">What information do you share?</h1>
The aforementioned server count of the bot, count of members in all servers combined and the commands exection rate by time, this info can be seen publicly on the silverbot dashboard which can be found at <a href="https://silverbot.cf/">https://silverbot.cf/</a> and how often commands are sucessfully executed.
<h1 id="how-can-i-request-for-any-data-to-be-deleted-">How can i request for any data to be deleted?</h1>
You may request for any data to be deleted by direct messaging <code>SilverDiamond#1691</code> on discord.<br>Last updated on 29 October 2022.